{% extends 'base.html.twig' %}

{% block body %}

    <div class="absolute w-screen h-screen flex items-center justify-center text-xl">
        <form method="POST"
              class="flex flex-col justify-center items-center w-full max-w-lg space-y-4">
            {{ form_start(form) }}

            <div class="flex flex-col justify-center">
                {{ form_label(form.amount) }}
                {{ form_widget(form.amount) }}
                {{ form_errors(form.amount) }}
            </div>

            {{ form_widget(form.transfer) }}

            <a href="{{ path('register_page') }}" class="text-green-900 hover:underline">Don't have an account yet?</a>

            {{ form_end(form) }}
        </form>
    </div>

{% endblock %}