{% extends '../base.html.twig' %}

{% block body %}

    <div class="absolute w-screen h-screen flex items-center justify-center text-xl">
        <form method="POST"
              class="flex flex-col justify-center items-center w-full max-w-lg space-y-4">
            {{ form_start(form) }}

            <div class="flex flex-col justify-center">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="flex flex-col justify-center">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="flex flex-col justify-center">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
                {{ form_errors(form.password) }}
            </div>

            {{ form_widget(form.registerBtn) }}

            <a href="{{ path('login_page') }}" class="text-green-900 hover:underline">Have an account already? Login
                here.</a>

            {{ form_end(form) }}

        </form>
    </div>

{% endblock %}